<style>
	#highlight {
		border:4px solid #FF00FF;
		opacity:1
	}
	#redlight {
		border:6px solid #FF0000;
		opacity:1
	}
</style>

<% 	# Display an error message if one is provided, otherwise resume with the usual display
	if @error %>
		<center>
			<br>
			<h2><%= @error %></h2>
		</center>
<% else %>
	<center>
			<h2> Current Range: <%= @min %> to <%= @max %> </h2>

			<%	# Create the next and back buttons %>
			<center>
				<%= link_to '< Back', images_path(min: (@max.to_i + 1).to_s) %>
				<%= link_to 'Next >', images_path(max: (@min.to_i - 1).to_s) %>
			</center>
		<% end %>

		<% # Create the thumbnail links with their checkboxes %>
		<%= form_tag hide_path() do %>
			<table>
				<tr>
					<% col = 0 %>
					<% @images.each do |image| %>
						<td>
							<a href="https:<%= image[:direct_link] %>" onclick="check(<%= image[:indexer] %>)">
								<center>
									<img id="<%= image[:css_id] %>" src="https:<%= image[:thumb_link] %>">
								</center>
							</a>
              <div style='text-align: center;'>
          			<%= check_box_tag "checked_images[]", image[:indexer], image[:checked] %>
              	<a href="https://derpiboo.ru/<%= image[:indexer] %>"><%= image[:indexer] %></a>
              </div>
						</td>

						<% col += 1 %>
				    	<% if col >= 5 %>
				  			</tr><tr>
				  			<% col = 0 %>
						<% end %>
					<% end	%>
				</tr>
			</table>

			<% # For reloading the page correctly again %>
			<%= hidden_field_tag :max, @max %>

			<% # Allow mass checking and unchecking %>
			<center>
				<button type="button" onclick="check_all()">
				    Check / Uncheck All
				</button>
			</center>

			<%= submit_tag "Hide Checked Thumbnails" %>
		<% end %>

		<%	# Create the next and back buttons again to save scrolling %>
		<%= link_to '< Back', images_path(min: (@max.to_i + 1).to_s) %>
		<%= link_to 'Next >', images_path(max: (@min.to_i - 1).to_s) %>
	</center>
