
<style>
	#highlight {
		border:4px solid #FF00FF;
		opacity:1
	}
	#redlight {
		border:6px solid #FF0000;
		opacity:1
	}
</style>

<script type='text/javascript'>
	/* Checkmark every box if any are unchecked. If all are checked, this will uncheck all of them */
	function check_all() {
    	var checked = $("input:checkbox:checked").length == $("input:checkbox").length;
    	var chks = document.querySelectorAll("input[type='checkbox']");
    	    	    	
    	for(var i = 0; i < chks.length; i++) {
    		chks[i].checked = !checked
    	}
	}
    
    /* Check a checkbox by a specified ID number */
    function check(id_number) {
    	var chks = document.querySelectorAll("input[type='checkbox'][value='" + id_number + "']");
    	if(chks.length > 0) {
    		chks[0].checked = true;
    	}
    }
</script>

<center> 
	<!-- Page header  -->
	<h2> <%= @rest[:max] %> to <%= @rest[:min] %> </h2> 
	<p align='right'><a href='<%= gallery_login_path %>'>Change Key</a> <a href='<%= settings_show_path %>', style='margin-left: 5px;'>Settings</a></p>
	<%
	# Display the error message if neccessary 
	%>
	<% if @error %>
		<%= @error %>
	<% end %>
</center>

<%
# If there was no error message, render the rest of the page. 
%>
<% unless @error %>
	<%
	# Create the next and back buttons
	%>
	<center>
		<a href='<%= gallery_index_path(@rest.merge({:max => nil, :min => (@rest[:max].to_i + 1).to_s})) %>'>Back</a>
		<a href='<%= gallery_index_path(@rest.merge({:max => (@rest[:min].to_i - 1).to_s, :min => nil})) %>'>Next</a>
	</center>
	
	<%
	# Create the thumbnail links with their checkboxes
	%>
	<center>
		<%= form_tag gallery_apply_tags_path(@rest.merge({:min => nil})) do %>
			<table>
				<tr>
					<% col = 0 %>
					<% @thumbs.each do |thumb| %>
						<td>
							<a href="https:<%= thumb[:link] %>" onclick="check(<%= thumb[:id] %>)">
								<center>
									<img id='<%= thumb[:css_id] %>' src="https:<%= thumb[:thumb] %>">
								</center>
							</a>
		                    <div style='text-align: center;'>
		                		<%= check_box_tag "checked_ids[]", thumb[:id], thumb[:check] unless thumb[:tagged] %>
		                    	<a href="https://derpiboo.ru/<%= thumb[:id] %>"><%= thumb[:id] %></a>
		                    </div>
						</td>
						
						<% col += 1 %>
				    	<% if col >= 5 %>
				  			</tr><tr>
				  			<% col = 0 %>
						<% end %>
					<% end	%>
				</tr>
			</table>
			
			<%
			# Allow mass checking and unchecking
			%>
			<center>
				<button type="button" onclick="check_all()">
				    Check / Uncheck All
				</button>
			</center>
			
			<%= submit_tag "Mark Checked Thumbnails" %>
		<% end %>
	</center>
	
	<%
	# Display a % completion of any job underway, otherwise allow the uploading of an ID file via form. 
	%>
	<center>
		<% unless @job_completion.nil? %>
			<br>
			Processing your file... <%= @job_completion.round(1) %> percent complete.
		<% else %>
			<%= form_tag gallery_import_tags_path(@rest.merge({:min => nil})), multipart: true do |f| %>
			  	<%= file_field_tag :id_file %>
				<%= submit_tag "Submit ID file" %>
			<% end %>
		<% end %>
	</center>
<% end %>

