<!DOCTYPE html>
<html>
<head>
  <title>Derp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<table width="100%">
		<tr>
			<td width="10%">
				<%= link_to "Images", images_path %>
			</td>
			<td width="80%">
				<%= form_for(:search_query, url: search_path) do |f| %>
					<center>
						<%= f.label("Search:") %>
						<%= f.text_field :keyword, :value => @query, :size => "50%" %>
						<%= f.submit "Submit" %>
					</center>
				<% end %>
			</td>
			<td align="right" width="10%">
				<%= link_to "Settings", settings_path %>
				<%= link_to "Logout", logout_path, method: :post %>
			</td>
		</tr>
	</table>
<%= yield %>

</body>
</html>
